#container {
  width: min(1024px, 100vw - 3rem);
}

#header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 0 1rem 0;
  width: 100%;
}

#header #global-info {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

#header #global-info h2 {
  white-space: nowrap;
  font-size: 1.75rem;
}

#wrapper {
  width: 100%;
  height: 24rem;
  overflow: auto;
  background-color: var(--secondary-color-100);
  border: 1px solid var(--secondary-color-600);
  scroll-snap-align: center;
}

#wrapper::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#wrapper::-webkit-scrollbar-track {
  background: #acacac;
}

#wrapper::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-md);
  background-color: #dc853d;
}

#wrapper::-webkit-scrollbar-thumb:hover {
  background: #d48c4d;
}

table {
  user-select: none;
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

td {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color-600);
  color: var(--secondary-color-800);
  letter-spacing: 1.02px;
  white-space: nowrap;
}

thead > tr {
  position: sticky;
  top: 0;
}

thead > tr > th > div {
  width: 100%;
  background-color: #ef954b;
  color: #fcfcfc;
  font-weight: bold;
  white-space: nowrap;
  padding: 0.75rem 0.5rem 0.25rem 0.5rem;
}

.sortable {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

#controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.p-4 {
  padding: 2rem;
}

#controller #right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#controller #navigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#controller #navigation button {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#controller #navigation button:disabled {
  cursor: auto;
}

#null-result {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

#fields {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 0.25rem 1rem;
}

.min-max-fields {
  display: flex;
  gap: 0.25rem;
}

#header #filter-btn {
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 0.15rem;
  padding: 0.25rem 0.35rem;
  font-size: 1rem;
}

#drop-down {
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 16rem;
  background-color: var(--secondary-color-800);
  color: var(--secondary-color-100);
  border-radius: var(--border-radius-sm);
  padding: 0.5rem 0.25rem;
  padding-bottom: 0.25rem;
  text-align: start;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.drp-element {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);
  background-color: #d1cecebe;
}

.add-element {
  background: var(--secondary-color-100);
  color: var(--secondary-color-800);
  padding: 0.75rem 0.5rem;
  font-weight: bold;
}

#bar-chart-container {
  width: 640px;
  height: 320px;
}

@media screen and (max-width: 767px) {
  #header {
    flex-direction: column;
    align-items: center;
  }

  input[type="search"] {
    display: none;
  }

  #header #global-info {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #header #global-info h2 {
    font-size: 1.5rem;
    white-space: nowrap;
  }

  #bar-chart-container {
    width: 375px;
    height: 200px;
  }

  #drop-down {
    left: 0;
    width: 12rem;
  }
}

@media screen and (max-width: 639px) {
  #pagination-container {
    display: none;
  }

  #controller {
    flex-direction: column;
  }

  #controller p {
    white-space: nowrap;
  }

  #bar-chart-container {
    width: 325px;
    height: 180px;
  }
}
