:root {
  --max-width: 1100px;
  --spacing: 1.5rem;
  --border-radius-sm: 4px;
  --border-radius-md: 12px;
  --border-radius-xl: 28px;
  --border-radius-full: 50%;
  --primary-color-100: #fbe5d2;
  --primary-color-400: #ef954b;
  --primary-color-600: #bf773c;
  --primary-color-800: #5e310c;
  --secondary-color-100: #fcfcfc;
  --secondary-color-400: #acacac;
  --secondary-color-600: #7e7e7e;
  --secondary-color-800: #1c1c1c;
}

[data-theme = dark] {
    --primary-color-100: #5e310c;
    --primary-color-400: #bf773c;
    --primary-color-600: #ef954b;
    --primary-color-800: #fbe5d2;
    --secondary-color-100: #1c1c1c;
    --secondary-color-400: #7e7e7e;
    --secondary-color-600: #acacac;
    --secondary-color-800: #fcfcfc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--secondary-color-800);
  background: var(--secondary-color-100);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: 12% 80% 8%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color-600);
}

footer #code-source-link {
  color: var(--primary-color-400);
}

#navbar {
  display: none;
}

.title-font {
  font-size: xx-large;
  font-family: 'Orbitron', sans-serif;
}

.user-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-tile {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}

/* Responsive */

@media screen and (min-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    top: 40%;
    width: min-content;
    height: min-content;
    background-color: var(--secondary-color-800);
    padding: 1.5rem 0.5rem;
    border-radius: var(--border-radius-md);
    gap: 0.5rem;
    z-index: 1000;
  }
}