:root {
  --max-width: 1100px;
  --spacing: 1.5rem;
  --border-radius-sm: 4px;
  --border-radius-md: 12px;
  --border-radius-xl: 28px;
  --border-radius-full: 50%;
  --primary-color-100: #fbe5d2;
  --primary-color-400: #ef954b;
  --primary-color-600: #bf773c;
  --primary-color-800: #5e310c;
  --secondary-color-100: #fcfcfc;
  --secondary-color-400: #acacac;
  --secondary-color-600: #7e7e7e;
  --secondary-color-800: #1c1c1c;
}

[data-theme="dark"] {
  --primary-color-100: #5e310c;
  --primary-color-400: #bf773c;
  --primary-color-600: #ef954b;
  --primary-color-800: #fbe5d2;
  --secondary-color-100: #1c1c1c;
  --secondary-color-400: #7e7e7e;
  --secondary-color-600: #acacac;
  --secondary-color-800: #fcfcfc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--secondary-color-800);
  background: var(--secondary-color-100);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  padding: 0.5rem 0.25rem;
  min-width: 12rem;
  width: 100%;
}

input[type="number"] {
  min-width: max-content;
  width: 50%;
}

li {
  list-style: none;
}

main {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: 12vh 1fr 8vh;
  overflow-x: hidden;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color-600);
}

footer #code-source-link {
  color: var(--primary-color-400);
}

#navbar {
  display: none;
}

.title-font {
  font-size: xx-large;
  font-family: "Orbitron", sans-serif;
}

.user-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  width: 100vw;
  min-height: 80vh;
}

.user-tile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.controller-filter-btn {
  width: 100%;
  justify-content: right;
  padding-top: 1.25rem;
}

#call-to-action-btn {
  width: 12rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--border-radius-xl);
}

.variant-btn {
  padding: 0.7rem 1rem;
  color: #fcfcfc;
  border: none;
  border-radius: var(--border-radius-sm);
  font-size: 1rem;
  cursor: pointer;
}

.variant-btn:active {
  background-color: opacity(0.8);
  outline: 1px solid #acacac;
}

.variant-btn:disabled {
  opacity: 0.5;
  cursor: auto;
}

.variant-btn:active:disabled {
  outline: none;
}

/* Responsive */

@media screen and (min-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 16px;
    top: 40%;
    width: min-content;
    height: min-content;
    background-color: var(--secondary-color-800);
    padding: 1.5rem 0.5rem;
    border-radius: var(--border-radius-md);
    gap: 0.5rem;
    z-index: 1000;
  }
}

@media screen and (min-width: 992px) {
  .user-tile {
    flex-direction: row;
  }
  .user-section {
    justify-content: flex-start;
  }
}

h1 {
  font-size: xx-large;
}
