#meteorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  margin-top: 2rem;
  min-height: 100vh;
}

#chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
  padding: 1rem;
  margin-bottom: 4rem;
}