.main {
  padding: 3rem 1rem 2rem 1rem;
}

main div.center {
  text-align: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 2rem 1rem;
}

.grid div.input-group {
  position: relative;
}

.grid div.input-group svg {
  position: absolute;
  left: 8px;
  top: 12px;
  width: 24px;
  height: 24px;
  z-index: 10;
}

.grid div.input-group input {
  padding: 1rem;
  padding-left: 2rem;
  width: 16rem;
}

.grid div.btn {
  position: relative;
}

.grid div.btn button {
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 16rem;
}

.grid div.btn svg {
  position: absolute;
  left: 8px;
  top: 12px;
  width: 24px;
  height: 24px;
  z-index: 10;
}

.grid div#btn-search button {
  background-color: #263cff;
}

.grid div#btn-clear button {
  background-color: #ff2626;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}